# list in python

In [11]:
nums = [25,12,36,95,14]

In [12]:
nums

[25, 12, 36, 95, 14]

In [13]:
nums[0 ]

25

In [14]:
nums  [1]

12

In [16]:
nums [2]

36

In [18]:
nums [4]

14

In [19]:
nums [2:]

[36, 95, 14]

In [20]:
nums [-5]

25

In [77]:
name = ['dog','cat','rat']

In [78]:
name

['dog', 'cat', 'rat']

In [79]:
name [1]

'cat'

In [80]:
num = [14,15,16,17,18,19,20]

In [81]:
num

[14, 15, 16, 17, 18, 19, 20]

In [82]:
num[6]

20

In [83]:
num . remove (20)

In [84]:
num

[14, 15, 16, 17, 18, 19]

In [85]:
num . insert (7,3)

In [86]:
num

[14, 15, 16, 17, 18, 19, 3]

In [88]:
name +num

['dog', 'cat', 'rat', 14, 15, 16, 17, 18, 19, 3]